*{

	margin:0;
	font-family:Arial;
	color:white;
	background-color:#222222;

}

.banner{

	width: inherit;
	height: 100px;	

}

.banner img{

	float:left;

}

.content{

	
	width: inherit;

}

h1{

	color: white;
	text-align: center;

}

.mainWrapper{

	margin-left: auto;
	margin-right: auto;
	width: 800px;

}

.playButton{

	display: block;
	margin: auto;
	border: 1px solid #222222;
}

.playButton:hover{

	border: 1px solid #AC82FA;

}

.tail{

	width:inherit;
	height:100px;

}
.title{

	margin-top: 25px;

}